.select-student-info {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid gainsboro;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.select-comparison-operator {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid gainsboro;
  border-radius: 2px;
  font-size: 16px;
}

.input-value {
  margin-bottom: 3px;
  padding: 8px;
  border: 1px solid gainsboro;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.btn-delete-rule {
  padding: 9px;
  margin-left: 10px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 14px;
  background-color: firebrick;
  font-family: 'Times New Roman', Times, serif;
}

.error-output {
  color: firebrick;
  font-weight: 500;
}

.rule-item {
  display: flex;
  align-items: baseline;
  margin: 5px 10px 10px 10px;
}

.input-error {
  display: grid;
}
