.select-student-info {
  margin-right: 10px;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.input-value {
  margin-bottom: 3px;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.error-output {
  color: firebrick;
  font-weight: 500;
}

.rule-item {
  display: flex;
  align-items: baseline;
  margin: 5px 10px 10px 10px;
}

.input-error {
  display: grid;
}

.rules {
  background-color: white;
  margin: 10px;
  border-radius: 2px;
}
